:root {
  --bg-greenN: #45765f;
}

@font-face {
  font-family: "Sensation";
  src: url("../fonts/Sensation-Regular.ttf");
  font-style: normal;
  font-weight: 300;
  font-size: medium;
}
@font-face {
  font-family: "Sensation-Bold";
  src: url("../fonts/Sansation-Bold.ttf");
  font-style: bolder;
  font-weight: bold;
  font-size: medium;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sensation-Bold", Arial, sans-serif;
}

.navbar {
  background-color: var(--bg-greenN);
  .logo-empresa {
    font-family: "Sensation-Bold", Arial, sans-serif;
  }
}
.section1 {
  background-color: #79ac93;
  span {
    color: #ffc107;
    display: block;
    animation: color 4s ease-in-out 1 alternate-reverse;
  }
  img {
    transform: rotate(5deg);
  }
}

@keyframes color {
  0% {
    color: #ffd207;
  }
  25% {
    color: red;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #45765f;
  margin-top: 20px;
}


.gal-card {
  width: 300px;
  height: 500px;
  padding: 0;
  img {
    height: 380px;
    object-fit: cover;
  }
}
.tDC-card {
  width: 280px;
  height: 350px;
  padding: 0;
}

.cont-color {
  background-color: var(--bg-greenN);
}
